<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eramos Tan Jovenes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dela+Gothic+One&family=Fredoka+One&family=Noto+Serif:ital,wght@0,400;1,400;1,700&family=Playfair+Display:wght@400;500&family=Poppins&family=Source+Serif+Pro:ital,wght@0,300;0,400;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/normalize.css" />
    <link rel="stylesheet" href="stylesheets/producciones-stylesheets.css" />
  </head>

<!-- MAIN -->
<main class="conteiner">
  <div class="image" id="one">
    <img
      class="poster"
      src="images/submarine-logo.jpg"
      alt="Submarine poster"
    />
  </div>
  <article class="text" id="two">
    <h3>Submarine</h3>
    <p>
      Submarine es una película de tinte tragicómico estrenada en el año 2010,
      basada en el libro homónimo de 2008 de Joe Dunthorne, la cual cuenta la
      historia del joven Oliver Tate quien vive una adolescencia problemática.
      El filme fue escrito y dirigido por Richard Ayoade, y protagonizado por
      Craig Roberts, Yasmin Paige, Sally Hawkins, Noah Taylor y Paddy Considine.
      Submarine significó el debut de Ayoade como director.
    </p>
  </article>
  <article class="text" id="four">
    <h3>People that are not me</h3>
    <p>
      Joy -interpretada por la también directora, guionista y productora de la
      película- intenta superar la ruptura de su pareja estable tanteando
      posibles nuevas relaciones y procurando encontrar el imposible punto de
      equilibrio entre el rechazo a cualquier implicación sentimental y la
      necesidad imperiosa de sentirse ligada a alguien.
    </p>
  </article>
  <div class="image" id="three">
    <img
      class="poster"
      src="images/people-that-are-not-me-poster.jpg"
      alt="People that are not me Poster"
    />
  </div>
  <div class="poster" id="five">
    <img
      class="poster"
      src="images/pizza-birra-faso-poster.jpg"
      alt="Pizza, birra y faso poster"
    />
  </div>
  <article class="text" id="six">
    <h3>Pizza, birra y faso</h3>
    <p>
      Pizza, birra, faso es una película argentina dramática de 1998 escrita y
      dirigida por Bruno Stagnaro e Israel Adrián Caetano. Si bien fue una
      película realizada con muy bajo presupuesto, su calidad y sus premios
      conseguidos le dieron un gran impulso a la industria cinematográfica de su
      país. Pizza, birra, faso es además considerado como uno de los filmes más
      representativos del Nuevo Cine Argentino (NCA). La película cuenta la
      historia de una banda de adolescentes marginales que habitan una misma
      casa y sobreviven en las calles de Buenos Aires realizando robos de baja
      monta.
    </p>
  </article>
  <article class="text" id="eight">
    <h3>Una novia errante</h3>
    <p>
      La historia se centra en Inés (Ana Katz) y su novio (Daniel Hendler) que
      sostienen una agónica discusión a bordo de un ómnibus. Viajan hacia Mar de
      las Pampas, un balneario fuera de temporada donde planean pasar unas
      breves vacaciones. El ómnibus frena. Inés baja con su pesado bolso colgado
      del hombro y advierte que su novio no la ha seguido. Con los ojos
      hinchados y su estómago inestable, Inés decide quedarse para disfrutar de
      esas vacaciones románticas, en soledad.
    </p>
  </article>
  <div class="image" id="seven">
    <img
      class="poster"
      src="images/una-novia-errante-poster.jpg"
      alt="Una novia errante poster"
    />
  </div>
  <div class="image" id="nine">
    <img
      class="poster"
      src="images/lights-out-poster.jpg"
      alt="Lights out poster"
    />
  </div>
  <article class="text" id="ten">
    <h3>Lights out</h3>
    <p>
      Lights Out es una película de terror de 2016 escrita y dirigida por David
      F. Sandberg, en su debut sobre su cortometraje homónimo de 2013 basada en
      hechos reales. La película tuvo su estreno mundial el 22 de julio de 2016
      y fue un éxito, recaudando más de $148 millones y recibiendo críticas
      generalmente positivas. La fotografía principal empezó el 29 de junio de
      2015. Fue estrenada el 22 de julio de 2016. Una secuela se encuentra
      actualmente terminada.
    </p>
  </article>
  <article class="text" id="twelve">
    <h3>Mi mejor amigo</h3>
    <p>
      Lorenzo, un adolescente que vive en la Patagonia, recibe en su casa a
      Caíto, el hijo de unos amigos de la familia que están pasando por una
      grave situación y no se pueden hacer cargo de él. Caíto es un joven
      problemático que tiene dificultades para adaptarse. A pesar de las
      diferencias entablan una peculiar amistad, donde cada uno aprende mucho
      del otro. Un día Caíto le cuenta el verdadero motivo por el que se ha
      tenido que ir de su casa. A partir de allí, Lorenzo tendrá que hacerse
      cargo de un secreto demasiado pesado de cargar.
    </p>
  </article>
  <div class="image" id="eleven">
    <img
      class="poster"
      src="images/mi-mejor-amigo-poster.jpg"
      alt="Mi mejor amigo poster"
    />
  </div>
</main>